.entertainment {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 800px) {
  .entertainment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-heading {
    text-align: center;
    padding-left: 0;
    margin-top: 80px;
  }
}

@media (max-width: 600px) {
  .entertainment {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .main-heading {
    text-align: center;
    padding-left: 0;
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .entertainment {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
  }
  .main-heading {
    text-align: center;
    padding-left: 0;
    margin-top: 80px;
  }
}
