.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #bbc3cb;

  height: 100%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000;
  font-size: 20px;
  margin: 30px;
  text-align: center;
}
